# IDEA
*.idea/

# python

*.pyc
build/

*.__pycache__/
db.sqlite3
*.migrations/
*.settings.py
blog/migrations/
comment/migrations/
likes/migrations/
read_statistics/migrations/
user/migrations/
mysite/settings.py
gunicorn/
cygSqlite/settings.py
.idea/
media/
